.sidenav-container {
  height: calc(100vh - 64px);;
  width: 100%;
  overflow: hidden;
  flex: 1;
}

.sidenav {
  width: 250px;
  background-color: var(--background-color);
  transition: width 0.3s ease;
  border-radius: 0;
  display: flex;
}

.sidenav.collapsed {
  width: 70px; /* Width for the collapsed sidebar (just icons) */
}

.toolbar-content {
  display: flex;
  align-items: center; /* Vertically center logo and title */
  margin-right: 13px;
}

.sidebar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 40px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.sidenav.collapsed .logo {
  display: none;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;  /* Rounding the corners for a smooth effect */
  transition: background-color 0.3s ease;

  .mat-icon {
    margin-right: 16px;
    margin-left: 14px;
    color: #5a5a5a;
    font-size: 24px;
    vertical-align: -5px;
    transition: color 0.3s ease;
  }

  /* Collapsed state */
  .sidenav.collapsed mat-list-item .mat-icon {
    margin-right: 0;
  }

  span {
    color: var(--text);
    font-size: 16px;
    line-height: 24px;
    transition: opacity 0.3s ease, color 0.3s ease;
    opacity: 1;
  }

  .sidenav.collapsed mat-list-item span {
    display: none;
  }

  &:hover {
    background-color: #f5f5f5;  /* Light gray background */
    cursor: default;
    border-radius: 5px;

    mat-icon,
    span {
      color: #1a73e8;
    }
  }

  &.active-link {
    background-color: #e8f0fe;
    border-radius: 5px;  /* Slightly darker background for the active item */
    mat-icon,
    span {
      color: #1a73e8;
    }
  }
}

.mat-sidenav-content {
  padding: 20px;
  background-color: var(--main-background-color);
  transition: margin-left 0.3s ease;
}

.content-expanded {
  margin-left: 250px !important; // Adjust margin for open sidebar
}

.content-collapsed {
  margin-left: 70px !important; // Adjust margin for collapsed sidebar
}

/* For sidebar toggle button when collapsed */
.toggle-sidebar-btn {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 1000;
  color: var(--blackColor);
}

.toolbar-left .search-input {
  width: 300px;
  max-width: 100%;
}

.mat-icon-button {
  margin-left: auto; /* Pushes close button to the right */
}

.burger-menu {
  top: 29px;
  z-index: 3;
  right: 25px;
  cursor: pointer;
  position: absolute;
  transition: var(--transition);

  span {
      height: 1px;
      width: 25px;
      margin: 6px 0;
      display: block;
      background: var(--blackColor);
      transition: var(--transition);
  }
  &.active {
      opacity: 1;
      visibility: visible;
      
      span {
          &.top-bar {
              transform: rotate(45deg);
              transform-origin: 10% 10%;
          }
          &.middle-bar {
              opacity: 0;
          }
          &.bottom-bar {
              transform: rotate(-45deg);
              transform-origin: 10% 90%;
              margin-top: 5px;
          }
      }
  }
}

.logo-collapsed {
   height: 40px;
   margin-left: -5px;
   margin-right: 5px;
   cursor: pointer;
}

.top-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 0 20px;
  height: 64px;
  z-index: 1000;
  border-radius: 7px;

  .toolbar-left {
    display: flex;
    align-items: center;
    flex: 1;

    .search-input {
      width: 300px;
      max-width: 100%;
    }
  }

  .toolbar-right {
    display: flex;
    align-items: center;

    .mat-icon-button {
      margin: 0 8px;
      position: relative;

      .notification-badge,
      .email-badge {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        color: white;
        font-size: 12px;
        border-radius: 50%;
        padding: 2px 6px;
      }
    }

    .profile-image {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }
}

.toolbar-right .mat-icon-button {
  margin: 0 8px;
}

.notification-badge, .email-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}

.profile-image {
  width: 36px;
  height: 36px;
  border-radius: 75%;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.search-box {
  position: relative;
  max-width: 400px; /* Limit the width of the search box */
  width: 100%;
  background-color: var(--main-background-color);
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;

  .search-icon {
    color: #8b8b8b;
    font-size: 24px;
    margin-right: 8px;
  }

  .input-search {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    color: #333;
    padding: 0;
    background-color: var(--main-background-color);
  }
}

.language-switcher {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: var(--main-background-color);

  label {
    margin-right: 5px;
    font-size: 14px;
    color: #333;
  }

  select {
    padding: 5px;
    font-size: 14px;
    background-color: var(--main-background-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
  }
}

.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
  border: 2px solid #f0f0f0; /* Optional: Add a subtle border */
  margin-right: 8px; /* Space between image and arrow */
}

.dropdown-arrow {
  color: #5a5a5a;
  padding: 0;
}

.mat-menu-content {
  padding-top: 0; /* Remove extra padding at the top of the menu */
  min-width: 200px;
}

.profile-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  strong {
    font-size: 16px;
    color: #333;
  }

  .profile-role {
    font-size: 14px;
    color: #888;
  }
}

mat-divider {
  margin: 4px 0;
}

mat-menu-item mat-icon {
  color: #5a5a5a;
  margin-right: 16px;
}
