<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [ngClass]="{ 'collapsed': !isSidebarOpened }"
    opened
    class="sidenav"
  >
    <mat-toolbar class="sidebar-toolbar">
      <div class="toolbar-content">
        <img
          src="assets/img/logo.png"
          alt="Logo"
          class="logo"
          *ngIf="isSidebarOpened"
        />
        <div *ngIf="isSidebarOpened"><b>Arcee Health</b></div>
      </div>
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ isSidebarOpened ? 'close' : 'menu' }}</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Navigation List -->
    <mat-nav-list>
      <mat-list-item
        [routerLink]="['/home']"
        routerLinkActive="active-link"
        class="nav-item"
      >
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="isSidebarOpened">Screenings</span>
      </mat-list-item>

      <mat-list-item
        [routerLink]="['/help-desk']"
        routerLinkActive="active-link"
        class="nav-item"
      >
        <mat-icon>help_outline</mat-icon>
        <span *ngIf="isSidebarOpened">Help Desk</span>
      </mat-list-item>

      <mat-list-item
        [routerLink]="['/profile']"
        routerLinkActive="active-link"
        class="nav-item"
      >
        <mat-icon>account_circle</mat-icon>
        <span *ngIf="isSidebarOpened">Profile</span>
      </mat-list-item>

      <mat-list-item
        [routerLink]="['/settings']"
        routerLinkActive="active-link"
        class="nav-item"
      >
        <mat-icon>settings</mat-icon>
        <span *ngIf="isSidebarOpened">Settings</span>
      </mat-list-item>

      <mat-list-item
        [routerLink]="['/logout']"
        routerLinkActive="active-link"
        class="nav-item"
      >
        <mat-icon>logout</mat-icon>
        <span *ngIf="isSidebarOpened">Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-header">
      <button mat-icon-button class="toggle-sidebar-btn" *ngIf="!isSidebarOpened" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
