.sidenav-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidenav {
  width: 250px;
  background-color: var(--background-color);
  transition: width 0.3s ease;
  border-radius: 0;
  display: flex;
}

.sidenav.collapsed {
  width: 70px; /* Width for the collapsed sidebar (just icons) */
}

.toolbar-content {
  display: flex;
  align-items: center; /* Vertically center logo and title */
  margin-right: 13px;
}

.sidebar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 40px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.sidenav.collapsed .logo {
  display: none;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;  /* Rounding the corners for a smooth effect */
  transition: background-color 0.3s ease;

  .mat-icon {
    margin-right: 16px;
    color: #5a5a5a;
    font-size: 24px;
    vertical-align: -5px;
    transition: color 0.3s ease;
  }

  /* Collapsed state */
  .sidenav.collapsed mat-list-item .mat-icon {
    margin-right: 0;
  }

  span {
    color: var(--text);
    font-size: 16px;
    line-height: 24px;
    transition: opacity 0.3s ease, color 0.3s ease;
    opacity: 1;
  }

  .sidenav.collapsed mat-list-item span {
    display: none;
  }

  &:hover {
    background-color: #f5f5f5;  /* Light gray background */
    cursor: default;
    border-radius: 5px;

    mat-icon,
    span {
      color: #1a73e8;
    }
  }

  &.active-link {
    background-color: #e8f0fe;
    border-radius: 5px;  /* Slightly darker background for the active item */
    mat-icon,
    span {
      color: #1a73e8;
    }
  }
}

.mat-sidenav-content {
  padding: 20px;
  background-color: var(--main-background-color);
  transition: margin-left 0.3s ease;
  margin-left: 70px !important;
}

/* For sidebar toggle button when collapsed */
.toggle-sidebar-btn {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 1000;
  color: var(--blackColor);
}

.mat-icon-button {
  margin-left: auto; /* Pushes close button to the right */
}

.burger-menu {
  top: 29px;
  z-index: 3;
  right: 25px;
  cursor: pointer;
  position: absolute;
  transition: var(--transition);

  span {
      height: 1px;
      width: 25px;
      margin: 6px 0;
      display: block;
      background: var(--blackColor);
      transition: var(--transition);
  }
  &.active {
      opacity: 1;
      visibility: visible;
      
      span {
          &.top-bar {
              transform: rotate(45deg);
              transform-origin: 10% 10%;
          }
          &.middle-bar {
              opacity: 0;
          }
          &.bottom-bar {
              transform: rotate(-45deg);
              transform-origin: 10% 90%;
              margin-top: 5px;
          }
      }
  }
}