/* login.component.scss */
.sign-in-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color); /* Dynamic background color */
}

.sign-in-form-container {
  width: 600px;
  padding: 40px;
}

mat-card {
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--container-background-color); /* Dynamic card background */
}

::ng-deep .mat-mdc-checkbox .mat-internal-form-field {
  color: inherit !important;  /* Ensures that the color is inherited */
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: inherit !important; /* This removes the custom color */
}

.title {
  text-align: center;
  margin-bottom: 20px;

  h3 {
    font-size: 24px;
    color: var(--text-color); /* Dynamic text color */
    margin-bottom: 8px;
  }

  p {
    color: var(--text-color);
    font-size: 14px;

    .sign-up-link {
      color: var(--primary-color); /* Dynamic link color */
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form-group {
  margin-bottom: 20px;

  .input-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--text-color); /* Dynamic text color */
  }

  mat-form-field {
    width: 100%;

    input {
      background-color: var(--input-background-color); /* Dynamic input background */
      color: var(--input-text-color); /* Dynamic input text color */
    }

    mat-label {
      background-color: var(--input-background-color);
      color: var(--input-text-color); /* Dynamic label color */
    }

    mat-icon {
      color: var(--text-color); /* Dynamic icon color */
    }
  }
}

.login-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .forgot-password-link {
    color: var(--primary-color);
    font-size: 14px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.submit-btn {
  width: 100%;
  height: auto;
  padding: 17px 30px;
  font-size: 16px;
  font-weight: normal;
  background-color: var(--button-background-color); /* Dynamic button background */
  color: var(--button-text-color); /* Dynamic button text color */

  &:hover {
    background-color: var(--button-background-hover-color);
  }

  &:disabled {
    background-color: #6d6e6e;
    color: #ffffff;
  }
}

:host {
  --mdc-protected-button-label-text-color: #ffffff;
  --mdc-protected-button-container-color: #1a73e8; // Orange background for buttons

  .mat-mdc-raised-button:not(:disabled) {
    color: var(--mdc-protected-button-label-text-color);
    background-color: var(--mdc-protected-button-container-color);
  }
}
