<div class="sign-in-area">
  <mat-card>
    <div class="title">
      <h3>{{ translations.SIGN_IN }}</h3>

      <p>
        {{ translations.DONT_HAVE_ACCOUNT }}
        <a routerLink="/register" class="sign-up-link">{{ translations.SIGN_UP }}</a>
      </p>
      
    </div>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" class="input-label">{{ translations.EMAIL_ADDRESS }}</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ translations.EMAIL_ADDRESS }}</mat-label>
            <input id="email" matInput placeholder="{{ translations.EMAIL_ADDRESS }}" formControlName="email" />
            <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
              {{ translations.VALID_EMAIL }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <label for="password" class="input-label">{{ translations.PASSWORD }}</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ translations.PASSWORD }}</mat-label>
            <input id="password" matInput [type]="hide ? 'password' : 'text'" placeholder="{{ translations.PASSWORD }}" formControlName="password" />
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
              {{ translations.PASSWORD_REQUIRED }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="login-info">
          <mat-checkbox>{{ translations.REMEMBER_ME }}</mat-checkbox>
          <a routerLink="/forgot-password" class="forgot-password-link">{{ translations.FORGOT_PASSWORD }}</a>
        </div>

        <button mat-raised-button class="submit-btn" type="submit" [disabled]="loginForm.invalid">
          {{ translations.SIGN_IN }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
