<div class="profile-text"> Profile </div>
<!-- Main Content Section -->
<div class="profile-container">
  <!-- Cover Photo Section -->
  <mat-card>
    <mat-card-content>
      <div class="cover-image position-relative border-top-radius">
          <img src="assets/img/profile-big-cover.jpg" class="border-top-radius" alt="cover-image">
          <button type="button" mat-button class="edit-btn" [matMenuTriggerFor]="editCoverPhotoMenu">
              Edit Cover Photo
          </button>
          <mat-menu #editCoverPhotoMenu="matMenu" class="card-header-menu" xPosition="after">
              <mat-nav-list class="camera-list">
                <a mat-list-item >
                  <span>Upload Photo</span>
                </a>
                <a mat-list-item>
                  <span>Reposition</span>
                </a>
                <a mat-list-item>
                  <span>Remove</span>
                </a>
              </mat-nav-list>
          </mat-menu>
      </div>
      <div class="profile-content">
          <div class="d-md-flex align-items-end justify-content-between">
              <div class="d-md-flex align-items-end">
                  <div class="image position-relative">
                      <img src="assets/img/profile.jpg" class="rounded-circle" alt="profile-image">
                      <button type="button" mat-button class="camera-button" [matMenuTriggerFor]="editProfilePhotoMenu">
                        <span class="material-icons">
                          photo_camera
                        </span>
                      </button>
                      <mat-menu #editProfilePhotoMenu="matMenu" class="card-header-menu" xPosition="after">
                          <mat-nav-list class="camera-list">
                            <a mat-list-item >
                              <span>See Photo</span>
                            </a>
                            <a mat-list-item>
                              <span>Upload Photo</span>
                            </a>
                            <a mat-list-item>
                              <span>Remove</span>
                            </a>
                          </mat-nav-list>
                      </mat-menu>
                  </div>
                  <div class="title">
                      <span class="d-block fw-medium">
                          Micheal Collins
                      </span>
                      <span class="d-block text-body">
                          micheal&#64;gmail.com
                      </span>
                  </div>
              </div>
              <!-- <div class="btn-box">
                  <button mat-button>
                      Share Profile
                  </button>
              </div> -->
          </div>
      </div>
    </mat-card-content>
  </mat-card>
 
  <!-- Profile Intro Section -->
  <mat-card class="profile-intro-container">
    <h3 class="section-title">Profile Intro</h3>

    <div class="user d-flex align-items-center">
      <div class="image-1">
          <img src="assets/img/profile.jpg" class="rounded-circle" alt="profile-image">
      </div>
      <div class="title">
          <span class="d-block fw-medium">
              Micheal Collins
          </span>
          <span class="d-block text-body">
              micheal&#64;gmail.com
          </span>
      </div>
  </div>

    <!-- About Me Section -->
    <div class="about-me-section">
      <h4>About Me</h4>
      <p>
        Molestie tincidunt ut consequat a urna tortor. Vitae velit ac nisl velit mauris placerat nisi placerat.
        Pellentesque viverra lorem malesuada nunc tristique sapien. Imperdiet sit hendrerit tincidunt bibendum
        donec adipiscing.
      </p>
    </div>
  </mat-card>

  <!-- Profile Information Section -->
  <mat-card class="profile-info-container">
    <h3 class="section-title">Profile Information</h3>

    <mat-list class="profile-info-container-text">
      <li class="key-value">
        <span class="text-key">User ID: </span>
        <span class="text-value"> 7001</span>
      </li>
      <li class="key-value">
        <span class="text-key">Full Name: </span>
        <span class="text-value"> Micheal Collins</span>
      </li>
      <li class="key-value">
        <span class="text-key">Email: </span>
        <span class="text-value"> micheal&#64;example.com</span>
      </li>
      <li class="key-value">
        <span class="text-key">Role: </span>
        <span class="text-value"> Administrator</span>
      </li>
      <li class="key-value">
        <span class="text-key">Location: </span>
        <span class="text-value"> New York, USA</span>
      </li>
      <li class="key-value">
        <span class="text-key">Join Date: </span>
        <span class="text-value"> May 10, 2022</span>
      </li>
    </mat-list>    
  </mat-card>

  <!-- Additional Information Section -->
  <mat-card class="additional-info-container">
    <h3 class="section-title">Additional Information</h3>

    <mat-list class="additional-info-container-text">
      <li class="key-value">
        <span class="text-key">Phone: </span>
        <span class="text-value">+1 444 266 5599</span>
      </li>
      <li class="key-value">
        <span class="text-key">Address: </span>
        <span class="text-value">84 S. Arrowhead Court Branford</span>
      </li>
      <li class="key-value">
        <span class="text-key">Orders: </span>
        <span class="text-value">696</span>
      </li>
      <li class="key-value">
        <span class="text-key">Products: </span>
        <span class="text-value">9240</span>
      </li>
      <li class="key-value">
        <span class="text-key">Events: </span>
        <span class="text-value">5</span>
      </li>
    </mat-list> 
  </mat-card>
</div>
