
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$Arcee-Health-Latest-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($Arcee-Health-Latest-theme);
  & {/* Light Theme Variables */
    --primary-color: #1a73e8;
  --background-color: #ffffff;
  --container-background-color: #ffffff;
  --container-inside-background-color: #ffffff;
  --text-color: #000000;
  --input-background-color: #ffffff;
  --input-border-color: #cccccc;
  --input-text-color: #000000;
  --input-placeholder-color: #999999;  /* Placeholder color in light mode */
  --label-color: #666666;
  --input-hover-border-color: #1a73e8;
  --button-background-color: #1a73e8;
  --button-background-hover-color: #1765c5;
  --button-background-disabled-color: #6d6e6e;
  --button-text-color: #ffffff;
  }
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($Arcee-Health-Latest-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($Arcee-Health-Latest-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; padding: 0;}

/* Dark Theme */
body.dark-theme {
  --primary-color: #1a73e8;
  --background-color: #131920;
  --container-background-color: #1b232d;
  --container-inside-background-color: #2e3b4c;
  --text-color: #ffffff;
  --input-background-color: #1b232d;
  --input-border-color: #ffffff;
  --input-text-color: #ffffff;
  --input-placeholder-color: #888888;  /* Placeholder color in grey for dark mode */
  --label-color: #cccccc;
  --input-hover-border-color: #ffffff;
  --button-background-color: #1a73e8;
  --button-background-hover-color: #1a73e8;
  --button-background-disabled-color: #6d6e6e;
  --button-text-color: #ffffff;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--background-color);
  color: var(--text-color);}
