<mat-card class="screening-section">
  <mat-card-title class="home-title">
    {{ translations.SCREENINGS_TITLE }}
  </mat-card-title>
  <mat-card-content class="screening-container">
    <a class="screening-box" routerLink="/breastcancer" (click)="goToBreastCancer()">
      <img class="screening-icon" alt="Breast Cancer Screening" src="assets/img/breast-cancer.png"/>
      <div class="screening-text">
        {{ translations.BREAST_CANCER }}
      </div>
    </a>
    <a class="screening-box" routerLink="/colon-cancer" (click)="goToColonCancer()">
      <img class="screening-icon" alt="Colon Cancer Screening" src="assets/img/colon-cancer.png"/>
      <div class="screening-text">
        {{ translations.COLON_CANCER }}
      </div>
    </a>
    <a class="screening-box" routerLink="/cervical-cancer" (click)="goToCervicalCancer()">
      <img class="screening-icon" alt="Cervical Cancer Screening" src="assets/img/cervical-cancer.png"/>
      <div class="screening-text">
        {{ translations.CERVICAL_CANCER }}
      </div>
    </a>
    <a class="screening-box" routerLink="/chlamydia" (click)="goToChlamydia()">
      <img class="screening-icon" alt="Chlamydia Screening" src="assets/img/chlamydia.png"/>
      <div class="screening-text">
        {{ translations.CHLAMYDIA }}
      </div>
    </a>
    <a class="screening-box" routerLink="/vaccination" (click)="goToVaccination()">
      <img class="screening-icon" alt="Vaccination Screening" src="assets/img/vaccination.png"/>
      <div class="screening-text">
        {{ translations.VACCINATION }}
      </div>
    </a>
    <a class="screening-box" routerLink="/care-for-older-adults" (click)="goToOldCare()">
      <img class="screening-icon" alt="Care for Older Adults" src="assets/img/Elderly_Care.png"/>
      <div class="screening-text">
        {{ translations.OLD_CARE }}
      </div>
    </a>
  </mat-card-content>
</mat-card>

<mat-card class="wellness">
  <mat-card-header>
    <mat-card-title>
      {{ translations.WELLNESS_TITLE }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="wellness-body">
    <p>{{ translations.WELLNESS_PARAGRAPH1 }}</p>
    <p>{{ translations.WELLNESS_PARAGRAPH2 }}</p>
    <p>{{ translations.WELLNESS_PARAGRAPH3 }}</p>
    <p>{{ translations.WELLNESS_PARAGRAPH4 }}</p>
  </mat-card-content>
  <mat-card-footer class="wellness-footer">
    {{ translations.WELLNESS_FOOTER }}
  </mat-card-footer>
</mat-card>

<mat-toolbar class="home-footer" color="primary">
  &copy; {{ translations.FOOTER_COPYRIGHT }}
</mat-toolbar>
